@page
@model ViewDispachtedOrder
@{
    ViewData["Title"] = "Home page";
}

<body class="hold-transition sidebar-mini">
    <div class="container-fluid">
        <label id="condition" hidden>Create</label>
        <div>
            <br />
            <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3" id="despachtedDiv" style="display:none">
                        <div class="info-box mb-3 special " onclick="dispachtedPlanningList()">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-truck"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Despachted List </span>
                                <span class="info-box-number" id="planninglist"></span>
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3" id="approveddiv" style="display:none">
                        <div class="info-box mb-3 special" onclick="ApprovedItem()">
                            <span class="info-box-icon bg-success elevation-1"><i class="fa fa-check-circle"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Approved D.O</span>
                                <span class="info-box-number" id="approvedlabel"></span>
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                            <!-- /.info-box-content -->
                        </div>

                        <!-- /.info-box -->
                    </div>
                    <div class="col-12 col-sm-6 col-md-3" id="rejecteddiv" style="display:none">
                        <div class="info-box mb-3 special" onclick="Rejecteditem()">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-close"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Rejected D.O </span>
                                <span class="info-box-number" id="rejectedlabel"></span>
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 col-sm-6 col-md-3" id="pendingdiv" style="display:none">
                        <div class="info-box mb-3 special" onclick="PendingApproved()">
                            <span class="info-box-icon bg-warning elevation-1"><i style="color:white" class="fa fa-exclamation-circle"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Approval Pending D.O</span>
                                <span class="info-box-number" id="pendinglabel"></span>
                                @*<a href="../HoldOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-12 col-sm-6 col-md-3" id="incompletediv" style="display:none">
                        <div class="info-box mb-3 special " onclick="IncompleteItems()">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-question-circle"></i></span>


                            <div class="info-box-content">
                                <span class="info-box-text">Incomplete D.O </span>
                                <span class="info-box-number" id="incompletelabel"></span>
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-12 col-sm-6 col-md-3" id="pendingmaterialdiv" style="display:none">
                        <div class="info-box mb-3 special " onclick="pendingMaterials()">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-refresh"></i></span>


                            <div class="info-box-content">
                                <span class="info-box-text">Pending  Materials </span>
                                <span class="info-box-number" id="pendingM"></span>
                                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm  navbar-dark" id="TitleColor" style="background-color: #FBFBFD; ">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:white" id="TitleID"></a>
                    </li>
                    <li class="nav-item" style="display:none" id="datewiseButton">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="color:black ;background-color:white;">
                            <input type="text" readonly id="daterange" name="daterange" value="" />
                        </a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="color:black ;background-color:white;" data-toggle="modal" id="adddd" data-target="#exampleModal" data-backdrop="static">
                            <i class="fas fa-bars" style="font-size:18px;padding:5px"></i>
                            <span>Period</span>
                        </a>
                        <a onclick="allData()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="color:black ;background-color:white;">
                            <i class="fas fa-cart-arrow-down" style="font-size:18px;padding:5px"></i>
                            <span>All Data</span>
                        </a>
                    </li>
                   



                </ul>
            </nav>

            <!-- Main content -->
            @*    -------------------DispachtedList Table---------------------------------*@
            <section class="content">
                <div class="container-fluid" id="dispachtedList" style="display:none">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="dispachtedTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.P No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">S.O NO</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Customer Name</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">PoNo </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            @*    //-------------------Approved D.O Table---------------------------------*@
            <section class="content">
                <div class="container-fluid" id="approvedItem">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">



                                    <table id="approvedTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th hidden>Qtn No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Date</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Customer Name</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">PoNo </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> S.O No</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Created By </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> Approved By </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>


            @* //-------------------Pending D.O Table---------------------------------*@
            <section class="content">
                <div class="container-fluid" id="approvalpending" style="display:none">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <table id="approvalPendingTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th hidden>Qtn No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O Date</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Customer Name</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">S.O No </th>

                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Created By </th>

                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            @* //-------------------Rejected D.O Table---------------------------------*@
            <section class="content">
                <div class="container-fluid" id="rejectedItems" style="display:none">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <table id="rejectedtable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O Date</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Customer Name</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">PoNo </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> Created By </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> Rejected By </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> Reason</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>

            @*//-------------------Incomplete D.O Table---------------------------------*@
            <section class="content">
                <div class="container-fluid" id="incompleteItems" style="display:none">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">

                                    <table id="icompletetable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th hidden>Qtn No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O No.</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">D.O Date</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Customer Name</th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;">S.O No </th>
                                                <th style="font-family: 'sans-serif'; font-weight: normal;"> Created By </th>

                                                <th style="font-family: 'sans-serif'; font-weight: normal;">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->

            <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:darkslategrey">
                            <h5 style="color:white;color:white">Period</h5>&nbsp;&nbsp;&nbsp;
                            <button style="color:white" type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span>From </span><br />
                                        <input type="date" id="fromdate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span>to </span><br />
                                        <input type="date" id="todate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="ApprovedItem()" data-dismiss="modal">View</button>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
    @section Scripts{
        <script src="~/js/ViewDispachtedOrder.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        @*DataTables  & Plugins *@
        <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="../../plugins/jszip/jszip.min.js"></script>
        <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
        <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        @*<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>*@
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>


    }
    <link href="~/css/elements.css" rel="stylesheet" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        .special {
            cursor: pointer;
        }
    </style>
</body>

